<h1>Popular on Spotify US</h1>

<div class="card-columns">
	<% @featured_names.each_with_index do |name,i| %>
		<div class="card m-3">
			<%= image_tag @featured_images[i], :class => "card-img-top", :alt => "Album photo" %>
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-10">
						<h5 class="card-title"><%= name %></h5>
						<p><%= @featured_artist[i] %></p>
					</div>
					<div class="col-2">
						<%= form_tag albums_path do %>
							<%= hidden_field_tag :title, @featured_names[i] %>
							<%= hidden_field_tag :artist, @featured_artist[i] %>
							<%= submit_tag "+", :class => 'btn btn-outline-primary mb-2' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script>
  document.querySelector('#home a').classList.add('active');
</script>